﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#loginId {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../Content/images/cielo.jpg");
    background-repeat: repeat;
   
}

#loginForm {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 200px;
    color: #fff;
    font-size:18px;
}

    #loginForm input[type="text"], input[type="password"] {
        width: 300px;
    }
